#hamburger-menu {
  display: none;
  width: 20%;
  padding: 1.5em;
  box-sizing: border-box;
}

#hamburger-menu svg {
  fill: #f58500;
  width: 50px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
