@charset "utf-8";

@import 'base';

/* ====================== Header ====================== */
/* Sticky header in the top of the screen */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


/* ====================== Navigation breadcrumbs ====================== */
#breadcrumb {
  padding: 10px 0 16px;
  list-style: none;
  background-color: #f5e2bf;
  font-size: 17px;
  margin: 0;
  width: 100%;
  text-align: left;

  /* Display list items side by side */
  li {
      display: inline;

      /* Add a color to all links inside the list */
      a {
          color: #025fb1;
          text-decoration: none;
      }

      /* Add a color on mouse-over */
      a:hover {
          color: #01447e;
          text-decoration: underline;
      }
  }

  li:first-child {
    padding-left: 20px;
  }

  /* Add a slash symbol (/) before/behind each list item */
  li+li:before {
      padding: 10px;
      color: black;
      content: "/\00a0";
  }
}


/* ====================== Restaurant details ====================== */
#restaurant-name {
  background-color: #333;
  color: #ddd;
  font-family: Arial,sans-serif;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 15px 0 15px;
  padding: 0 10px;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
}

#restaurant-img {
  width: 100%;
  max-width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 10px 0 0 0;
  padding: 2px 0;
  text-transform: uppercase;
  text-align: center;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  padding: 140px 0 30px;
  margin-right: auto;
  margin-left: auto;
}

#restaurant-hours td {
  color: #666;
  padding-right: 5px;
}

.restaurant-main-info,
.restaurant-address-schedule {
  width: 90%;
  margin-left: auto;
	margin-right: auto;
	display: block;
}


/* ====================== Map ====================== */
#map-container {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}


/* ====================== Reviews ====================== */

#reviews-container {
  width: 90%;
  margin-left: auto;
	margin-right: auto;
  display: block;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;

  h3 {
    background-color: #333;
    color: #ddd;
    font-size: 20pt;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-bottom: 0.1pt;
  }
}

#reviews-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #333;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;

  div p,
  article p {
    margin: 10px 0 10px;
    font-size: 12pt;
  }

  div.review-header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 0 20px;

    p {
      color: #fff;
    }

    p.review-name {
      font-size: 14pt;
      font-weight: bold;
    }
  }

  article.review-content {
    font-size: 12pt;
    padding: 0 20px;

    p.review-rating {
      color: #DB3A00;
      font-weight: bold;
      margin: 15px 0;
    }

    p.review-comment {
      padding-bottom: 10px;
    }
  }
}



/* ====================== Layout changes depends on screen width ====================== */
/* Default layout considered to use on small screen sizes and use single column layout for all the elements. */

/* Medium screens use two-column layout for restaurant details */
@media screen and (min-width: 550px) {
  .container {
    justify-content: space-between;
  }

  #restaurant-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  #reviews-container {
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
  }

  .restaurant-main-info {
    width: calc(60% - 50px);
  }

  .restaurant-address-schedule {
    width: calc(40% - 5px);
    padding: 10px 0 10px;
  }
}

/* For larger screens reviews section also split into two columns */
@media screen and (min-width: 650px) and (max-width: 1199px) {
  #restaurant-hours td {
    font-size: 12pt;
  }

  #reviews-list li {
    width: calc(50% - 30px);
  }
}

/* For larger screens also we have to adjust restaurant address fonts to fill the empty space in the second column of restaurant details */
@media screen and (min-width: 750px) and (max-width: 1199px) {
  #restaurant-address {
    font-size: 16pt;
  }

  #restaurant-hours td {
    font-size: 14pt;
  }
}

/* Large screen layout splits into the three columns. Image, address and map fill three columns in restaurant details. */
@media screen and (min-width: 1200px) {
  #restaurant-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  #map-container {
    width: calc(50% - 20px);
    padding: 150px 20px 30px 0;
  }

  #map {
    height: 100%;
  }

  #reviews-list li {
    width: calc(33% - 60px);
  }
}

/* Adjust fonts for large screens */
@media screen and (min-width: 1600px) {
  #restaurant-address {
    font-size: 16pt;
  }

  #restaurant-hours td {
    font-size: 14pt;
  }
}
